---
// Redirect to the archive page
return Astro.redirect('/archive');
---

<html>
  <head>
    <meta http-equiv="refresh" content="0;url=/archive" />
  </head>
  <body>
    <a href="/archive">View all posts</a>
  </body>
</html>
