---
import { getCollection } from "astro:content";
import BasePage from "../layouts/BasePage.astro";
import PostList from "../components/PostList.astro";

const posts = (await getCollection("blog")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<BasePage title="Archive — Kitan">
    <h1>Archive</h1>

    <PostList posts={posts} />
</BasePage>
