<header>
  <a href="/" class="site-title">kitan</a>
  <div class="separator">--- ✿ ---</div>
  <nav>
    <a href="/music">Music</a>
    <a href="/art">Art</a>
    <a href="/code">Code</a>
    <a href="/archive">Blog</a>
  </nav>
</header>
