@font-face {
    font-family: "ISO v0.6";
    src:
        url("iso/ISOv06-Thin.woff2") format("woff2"),
        url("iso/ISOv06-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "ISO v0.6";
    src:
        url("iso/ISOv06-Light.woff2") format("woff2"),
        url("iso/ISOv06-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "ISO v0.6";
    src:
        url("iso/ISOv06-Regular.woff2") format("woff2"),
        url("iso/ISOv06-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "ISO v0.6";
    src:
        url("iso/ISOv06-Medium.woff2") format("woff2"),
        url("iso/ISOv06-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "ISO v0.6";
    src:
        url("iso/ISOv06-Bold.woff2") format("woff2"),
        url("iso/ISOv06-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "ISO v0.6";
    src:
        url("iso/ISOv06-Black.woff2") format("woff2"),
        url("iso/ISOv06-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "KitanMono";
    src: url("kitan_mono/KitanMono-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "KitanMono";
    src: url("kitan_mono/KitanMono-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "KitanMono";
    src: url("kitan_mono/KitanMono-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "KitanMono";
    src: url("kitan_mono/KitanMono-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "KitanMono";
    src: url("kitan_mono/KitanMono-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "KitanMono";
    src: url("kitan_mono/KitanMono-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "KitanMono";
    src: url("kitan_mono/KitanMono-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: "KitanMono";
    src: url("kitan_mono/KitanMono-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "InterVariable";
    src: url("inter/InterVariable.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
}
@font-face {
    font-family: "InterVariable";
    src: url("inter/InterVariable-Italic.woff2") format("woff2");
    font-weight: 100 900;
    font-style: italic;
}

body {
    font-family: "ISO v0.6", sans-serif;
}
